*{
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    background-color: #f0f2f5;
}
.container{
    height: 100%;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    gap: 100px;
}
.textContainer{
    font-size: 60px;
    color: rgb(19, 85, 216);
    font-weight: 600;
}
.box{
    border: 1px solid black;
    height: 50vh;
    width:30vw;
}